<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.myobie.nginx.firewall</string>
	<key>RunAtLoad</key>
	<true/>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>UserName</key>
	<string>root</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>ipfw add 01000 fwd 127.0.0.1,8080 log ip from any to any dst-port 80 in &amp;&amp; ipfw add 01001 fwd 127.0.0.1,8443 log ip from any to any dst-port 443 in &amp;&amp; sysctl -w net.inet.ip.forwarding=1</string>
	</array>
</dict>
</plist>
