keybinds {
    shared {
        bind "Alt ]" { GoToNextTab; }
        bind "Alt [" { GoToPreviousTab; }
    }

    normal {
        bind "Ctrl Up"    { MoveFocus "Up"; }
        bind "Ctrl Down"  { MoveFocus "Down"; }
        bind "Ctrl Left"  { MoveFocus "Left"; }
        bind "Ctrl Right" { MoveFocus "Right"; }
    }

    // Disable tmux mode keybindings
    tmux clear-defaults=true {}
}
